name: Bandit

on: [push]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Security Tools
        run: |
          pip install bandit safety

      - name: Bandit Scan
        run: bandit -r code/backend
