name: Run Python Tests

on: [push]

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Write Firebase credentials file from secret
        working-directory: code/backend
        run: |
          echo "${{ secrets.DB_KEY }}" | base64 -d > testdb-5e14f-firebase-adminsdk-fbsvc-f98fa5131e.json

      - name: Run Unit Tests
        working-directory: code/backend
        run: |
          PYTHONPATH=. pytest test_functions/test_recommandation_functions.py test_functions/test_user_fonctions.py --disable-warnings

  integration-tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    needs: unit-tests  

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Write Firebase credentials file from secret
        working-directory: code/backend
        run: |
          echo "${{ secrets.DB_KEY }}" | base64 -d > testdb-5e14f-firebase-adminsdk-fbsvc-f98fa5131e.json

      - name: Run Integration Tests
        working-directory: code/backend
        run: |
          PYTHONPATH=. pytest test_functions/test_firestore_integration.py --disable-warnings
